<div *ngIf="videos.length > 0">
    <div class="text-right mt-1  mb-4">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <div class="row" [sortablejs]="videos" [sortablejsOptions]="eventOptions">
        <app-video-item class="col-lg-3 col-md-6 mb-4 video-item"
            *ngFor="let video of videos | paginate: { itemsPerPage: 12, currentPage: p }" [video]="video">
        </app-video-item>
    </div>

</div>
<div *ngIf="videos.length ==0">
    <div class="alert alert-danger">
        No result!
    </div>
</div>