<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 mb-5 text-center">
            <img src="https://img.icons8.com/doodle/128/000000/youtube--v1.png" class="mb-4" />
            <h6 class="text-secondary">
                <em>save you notes ..</em>
            </h6>
        </div>
        <div class="col-md-12">
            <app-video-form></app-video-form>
        </div>
        <div class="col-md-12 mt-5">
            <app-video-list></app-video-list>
        </div>
    </div>
    <simple-notifications></simple-notifications>

</div>